@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./background.jpg") center/cover fixed no-repeat;
    height: 100%;
    padding-top: 100px;
}

label{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}


.second{
 margin-top: 25px;
}
.trip{
  font-family: 'Lobster', cursive;
}
.departing{
  font-family: 'Comfortaa', cursive;
}